@model IEnumerable<De8.Models.SanPham>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        <!-- Single Catagory -->
        @foreach (var item in Model)
        {
            <div class="single-products-catagory clearfix">
                <a href=@Url.Action("ChiTietSanPham", "Home", new { id = item.MaSanPham })>
                    <img src="~/Content/img/bg-img/@item.AnhDaiDien" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $@item.DonGiaBanNhoNhat</p>
                        <h4>@item.TenSanPham</h4>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
